

body, html{
    height: 100%;
    background-repeat: no-repeat;
    /*background-color: #d3d3d3;*/
    font-family: 'Oxygen', sans-serif;
    background-image: url("static/neobiknov_gurmanstvo.jpg");
    background-repeat: repeat-x;
    background-repeat: repeat-y;

}

.main{
    margin-top: 70px;
}

h1.title {
    font-size: 50px;
    font-family: 'Passion One', cursive;
    font-weight: 400;
}

hr{
    width: 10%;
    color: #fff;
}

.form-group{
    margin-bottom: 15px;
}

label{
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
    padding: 40px 40px;

}

.login-button{
    margin-top: 5px;
}

.login-register{
    font-size: 11px;
    text-align: center;
}


table {
    background: url("https://html5book.ru/images/blurry.jpg") no-repeat;
    background-position: 100% 55px;
}
th {
    font-weight: normal;
    color: #339;
    padding: 10px 12px;
}
td {
    background: url("https://html5book.ru/images/back.png");
    color: #669;
    border-top: 0px solid white;
    padding: 10px 12px;
}
tr:hover td {
    background: url("https://html5book.ru/images/back.png");
    background: transparent;
}

.wrapper {
    padding: 0 0 50px 0;
}

header {
    padding: 20px 0;
}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;}




/*Table*/
.cellsBlock {
    width: 100%;
    display: table;
}
.cellLeft, .cellMiddle, .cellRight {
    display: table-cell !important;
    display: inline; /* для IE */
}
.cellLeft, .cellRight {
    width:35%;
}
.cellMiddle {
    width:30%;
}
.button {
    display: inline-block;
    padding: 15px 5px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
    position: page;
}

.button:hover {background-color: #3e8e41}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);}


body {background-image: url("static/neobiknov_gurmanstvo.jpg");


}


{
    box-sizing: border-box;
}