<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:cotext="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <cotext:property-placeholder location="classpath:itpark/xml/resources/application.properties"/>
    <cotext:annotation-config/>


     <bean id = "driverManagerDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="url" value="jdbc:postgresql://localhost:5432/sodikov_db" />
        <property name="username" value="postgres"/>
         <property name="driverClassName" value="org.postgresql.Driver"/>
         <property name="password" value="Zaq12wsx"/>
     </bean>



    <bean id="hikariDataSource" class="com.zaxxer.hikari.HikariDataSource">
    <property name="driverClassName" value="${datasource.driver}"/>
    <property name="jdbcUrl" value="${datasource.url}"/>
    <property name="username" value="${datasource.user}"/>
    <property name="password" value="${datasource.password}"/>
    </bean>


    <bean id = "springJavaConfig" class="itpark.java.config.JavaApplicationContext">


    </bean>


</beans>